[submodule "data/genome"]
	path = data/genome
	url = git@github.com:michaelbarton/Pseudomonas-fluorescens-R124-genome.git
[submodule "data/reference"]
	path = data/reference
	url = gitosis@gitserve:reference-genomes.git
